#homepageCarousel {
    padding-top: 2rem;   /* rem plutôt que px */
    padding-left: 2rem;  /* rem plutôt que px */
    padding-right: 2rem; /* rem plutôt que px */
}

/* Carousel.css */
.carousel-item img {
    width: 100%; /* Maintient la largeur à 100% du conteneur */
    height: auto; /* Ajuste la hauteur pour conserver le ratio */
    max-height: 33rem; /* Hauteur maximale dynamique */
}


.darken-image {
    filter: brightness(35%); /* Assombrit l'image à 50% de sa luminosité originale */
}

.img-icones {
    width: 15rem !important;  /* Ajuster selon vos besoins */
    height: auto !important;  /* Maintient le ratio d'aspect */
    margin-bottom: 10px !important;  /* Espacement entre le titre et la description */
}

.img-og{
    width: 35rem !important;  /* Ajuster selon vos besoins */
    height: auto !important;  /* Maintient le ratio d'aspect */
    margin-bottom: 10px !important;  /* Espacement entre le titre et la description */
}

.carousel-caption p {
    font-size: 1.2rem; /* Taille de la police */
    font-family: 'Arial', sans-serif; /* Type de police */
    color: #fff; /* Couleur de la police */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); /* Ombre de texte pour améliorer la lisibilité sur des images assombries */
    padding: 0.5rem; /* Padding autour du texte */
    border-radius: 5px; /* Bords arrondis pour le fond */
}
