.partner-logo {
    /* Chaque logo occupe environ 25% de la largeur du conteneur avec de la marge */
    flex: 1 1 0;
    max-width: 10rem; /* largeur maximale souhaitée */
    width: calc(25% - 20px); /* calcule une largeur en fonction de l'espace total moins les marges */
    height: auto;
    margin: 10px;
}

/* Media query pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
    .partner-logo {
        max-width: 6rem;
        width: calc(25% - 10px);
        margin: 8px;
    }
}

/* Media query pour les téléphones */
@media screen and (max-width: 480px) {
    .partner-logo {
        max-width: 4rem;
        width: calc(25% - 5px);
        margin: 5px;
    }
}
